// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

.footer {
  padding: space(8) 0;
  background-color: $black;
  color: $white;
}
